.side-bar-container {
	position: fixed;
	height: 100vh;
	width: 20vw;
	background: lightsteelblue;
	float: left;
}

.contents-container {
	float: right;
	background: gray;
	height: 100vh;
	width: 80vw;
}